<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Gore</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
</head>
<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Gore</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/explore"><i class="material-icons">explore</i></a></li>
        </ul>
    </div>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Copyright &copy; 2016, <a href="https://www.jamierocks.uk/">Jamie Mansfield</a>.
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</body>
</html>
